.cart {
    width: 100%;
    margin: 15px auto;
}

.cart a:hover {
    color: var(--light-gray);
}
.cart-container {
    margin: 30px 15px;
}
.cart-header{
    height: 65px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #5F6F75;
    justify-content:center;   
}
.cart-header h1 {
    font-size: 18px;
}
.cart-header-desktop {
    height: 65px;
    border-radius: 10px;
    display: none;
    align-items: center;
    padding: 15px;
    border: 1px solid #5F6F75;
    justify-content: flex-start;
}
.cart-icon{
    font-size: 23px;
    margin-left: 6px;
}
.step{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 20px;
    cursor: pointer;
}
.step-num {
    font-size: 14px;
    background: var(--bg-button);
    border-radius: 50%;
    margin-left: 10px;
    font-weight: 500 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding-top: 2px;
}

.active-step{
    background: var(--pink); 
}

.arrow-left{
    font-size: 25px;
    margin-right: 10px;
    color: var(--mid-gray);
}

.cart-body-container {
    width: 100%;
    margin: 19px 0;
    border: 1px solid #5F6F75;
    padding: 15px;
    border-radius: 10px;

}

.cart-title {
    display: flex;
    align-items: center;
    font-size: 18px;
}


/* ----------- table --------- */
table,
tbody,
thead {
    display: block;
}

thead tr {
    border-bottom: 1px solid #546268;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

tbody tr {
    border-bottom: 1px solid #546268;
    display: flex;
    align-items: center;
    padding: 9px 0;
}

#cart-table th.product-name{
    flex: 0 0 80%;
}
#cart-table td.product-name{
    flex: 0 0 80%;
    display: flex;
    margin-left: 18px;
    /* background-color: #ce1955; */
}

td.hide-in-mobile {
    display: none;
}

th.hide-in-mobile {
    display: none;
}

.cart-item{
    display: flex;
    align-items: center;
}
.cart-item-stuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}
.cart-item-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.price-mobile{
    font-size: 11px;
}
.remove-item {
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    color: var(--light-gray);
}
.remove-item:hover{
    color: lightblue;
}

.cart-item-stuff img {
    width: 50px;
    height: 50px;
}

.title-item {
    font-weight: 300 !important;
    color: var(--text);
    font-size: 11px;
}

.hide-in-desktop{
    display: block;
}

.hide-in-mobile .price {
    margin: 0 5px;
}

.cart button {
    outline: 0;
    border: 0;
}

.back-to-shop a {
    font-size: 12px;
    padding: 5px ;
    background: var(--bg-button);
    color: var(--white);
    width: 115px;
    margin-top: 12px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.cart-body-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 25px 0px;
}

.total-price-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.total-price-cart h3 {
    color: var(--light-gray)
}

.total-price-cart .total-price {
    margin-right: 10px;
    font-weight: 600 !important;
}

.cart-body-end .payment {
    background-color: var(--pink);
    padding: 7px;
    border-radius: 2px;
    width: 230px;
    margin: 17px 0 30px 0;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.cart-body-end .payment:hover {
    background-color: #ce1955;
}

.cart-body-end .discount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-body-end .apply-discount {
    padding: 7px;
    border-radius: 2px;
    width: 230px;
    margin: 15px 0;
}

.cart-body-end .input-discount {
    background-color: var(--bg-button);
    border-radius: 5px;
    width: 230px;
    padding: 5px 10px;
    outline: 0;
    border: 1px dashed var(--light-gray);
}

.cart-body-end .input-discount::placeholder {
    color: var(--light-gray);
    font-weight: 300 !important;
}

/* -----empty-cart-----*/

.empty-cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    align-items: center;
    text-align: center;
}
.empty-cart a{
    background: var(--main-color);
    padding: 6px 7px;
    border-radius: 2px;
    margin: 20px 0;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    color: var(--white);
}
.empty-cart a:hover{
    color: var(--light-gray);
}
/* ------------media---------------------- */
@media screen and (min-width:375px) {
    #cart-table td.product-name {
        margin-left: 21px; 
    }
}
@media screen and (min-width:425px) {
    #cart-table td.product-name {
        margin-left: 28px; 
    }
}

@media screen and (min-width:768px) {

    th.hide-in-mobile {
        display: block;
    }

    td.hide-in-mobile {
        display: block;
    }

    .hide-in-desktop{
        display: none;
    }
    .cart-header-desktop {
        display: flex;
    }
    .cart-header {
        display: none;
    }

    /* ----------thead--------- */
    #cart-table th{
        flex: 0 0 14%;
        text-align: center;
        /* background-color: red; */
    }

    #cart-table th.product-name{
        flex: 0 0 46%;
    }

    /* --------tbody----------- */

    #cart-table td.product-name{
        flex: 0 0 46%;
    }

    #cart-table td{
        flex: 0 0 16%;
        text-align: center;
        /* background-color: red; */
    }

     .title-item {
        font-size: 13px !important;
    } 
    .remove-item {
        font-size: 18px;
    }

    /*---- cart-body-end ------- */

    .cart-body-end {
        flex-direction: row;
        justify-content: space-around;
    }

    .cart-body-end .payment {
        margin: 9px 0 30px 0;
    }

    .total-price-cart {
        margin: 11px 0;
    }


    .empty-cart a{
        font-size: 14px;
    }
}

@media screen and (min-width:1024px) {
    .cart {
        width: 65%;
        margin: 25px auto;
    }
    .cart-container {
        margin: 40px  0 0 0;

    }

   #cart-table {
        margin: 0 auto;
    }

    .title-item {
        font-size: 14px !important;
    } 
}


