.order-details{
    width: 100%;
  
}

.order-details .mark{
    background-color: var(--second-color);
    padding: 0 7px;
    margin: 0 3px;
    display: inline-block;
}

.order-details .dirction{
    display: inline-flex;
}

.order-details .hashtag{
    display: inline-flex;
}

.order-details .summary{
    line-height: 2.5;
    font-size: 14px;
    text-align: justify;
    margin-bottom: 20px;
}
.order-details h2{
    font-size: 17px;
    color: var(--second-color);
    margin-bottom: 20px;
}


/*----- table ----------*/

table#order-details-table,
tbody,
thead{
    display: block;
    width: 100%;
    font-size: 13px;
}
#order-details-table thead tr {
    display: flex;
}
#order-details-table tbody tr{
    display: flex;
}

#order-details-table thead th {
   flex: 0 0 60%;
   text-align: right;
   font-weight: 500 !important;
}
#order-details-table tbody td{
    flex: 0 0 60%;
    text-align: right;
}
#order-details-table thead th:last-child{
    flex: 0 0 40%;
    text-align: left;
    
}
#order-details-table tbody td:last-child{
    flex: 0 0 40%;
    text-align: left;  
}

#order-details-table  .title-product{
    font-size: 12px;
}

#order-details-table small {
    font-size: 11px;
    margin-right: 5px;
    color: var(--mid-gray);
}
/* -------end table------------ */

section.customer-details{
    margin: 30px 0;
}
.customer-details p{ 
    font-weight: 300 !important;
    margin-bottom: 3px;
}
.customer-details  p:first-child{ 
    margin-bottom: 8px;
}