.button {
    width: 250px;
    height: 250px;
    position: relative;
    padding: 0;
    border: 4px solid #2F3041;
    outline: none;
    border-radius: 40px;
    background-color: #242532;
    box-shadow: -11px -12px 15px #242532, 6px 1px 51px #242532, 9px 9px 4px #242532, 6px 10px 36px rgba(0, 0, 0, 0.2);
    transition: 0.13s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.button:active {
    box-shadow: none;
}

.button:active .button__content {
    box-shadow: none;
}

.button:active .button__content .button__text,
.button:active .button__content .button__icon {
    transform: translate3d(0px, 0px, 0px);
}

.button__content {
    position: relative;
    display: grid;
    padding: 14px 15px 26px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -8px 0px #242532, 0px -8px 0px #2F3041;
    border-radius: 40px;
    transition: 0.13s ease-in-out;
    z-index: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "btn-text btn-text btn-text btn-text "
        "icon1 icon2 icon3 icon4"
        "icon1 icon2 icon3 icon4"
        "icon12  icon11 icon10 icon9"
        "icon5  icon6 icon8 icon7";
    gap: 5px 2px;

}


/* ----------------- */
.icon {
    color: var(--mid-gray);
    font-size: 34px;
    /* border-radius:50px; */

}

.icon1 {
    grid-area: icon1;
    align-self: end;
    /* border-radius:50px; */
}

.icon2 {
    grid-area: icon2;
    align-self: end;
}

.icon3 {
    grid-area: icon3;
    align-self: end;
}

.icon4 {
    grid-area: icon4;
    align-self: end;
}

.icon5 {
    grid-area: icon5;
}

.icon6 {
    grid-area: icon6;
}

.icon7 {
    grid-area: icon7;
}

.icon8 {
    grid-area: icon8;
}

.icon9 {
    grid-area: icon9;
}

.icon10 {
    grid-area: icon10;
}

.icon11 {
    grid-area: icon11;
    /* border-radius:50px; */
}
.icon12{
    grid-area: icon12;
}

.button_text {
    grid-area: btn-text;
    align-self: center;
    justify-self: center;
    color: var(--text);
    font-weight: 500;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    transition: 0.13s ease-in-out;
    font-size: 20px;
    font-family: 'vazir';

}
/* ----------------- */

.btn-bg {
    color: rgb(251, 151, 37);
    display: flex;
    width: 50px;
    height: 50px;
    background: rgb(225 225 225 / 10%);
    justify-content: center;
    align-items: center;
    font-size: 30px;
}